<div class="container-fluid mt-3">
  <h1 class="text-center">Contract List</h1>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand btn btn-primary mb-2 text-white" [routerLink]="'/contract-create'" role="button"> + Create
            Contract</a>
        </div>
<!--        <form class="d-flex">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-info text-white" type="submit">-->
<!--            <ul class="navbar-nav">-->
<!--              <li class="nav-item">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"-->
<!--                     class="bi bi-search" viewBox="0 0 16 16">-->
<!--                  <path-->
<!--                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--                </svg>-->
<!--              </li>-->
<!--              <li class="nav-item px-1">-->
<!--                Search-->
<!--              </li>-->
<!--            </ul>-->
<!--          </button>-->
<!--        </form>-->
      </div>
    </div>
  </nav>

  <div class="container-fluid ">
    <table id="tableCustomer" class="table table-bordered table-striped table-responsive mw-100">
      <thead>
      <tr>
        <th class="align-middle">No</th>
        <th class="align-middle">Id</th>
        <th class="align-middle">Employee</th>
        <th class="align-middle">Customer</th>
        <th class="align-middle">Service</th>
        <th class="align-middle">Start date</th>
        <th class="align-middle">End date</th>
        <th class="align-middle">Deposit</th>
        <th class="align-middle">Total Money</th>
        <th class="align-middle text-center">Delete</th>
        <th class="align-middle text-center">Edit</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let contract of contracts; index as i">
        <td>{{i + 1}}</td>
        <td>{{contract.id}}</td>
        <td>{{contract.employee.name}}</td>
        <td>{{contract.customer.name}}</td>
        <td>{{contract.service.name}}</td>
        <td>{{contract.startDate}}</td>
        <td>{{contract.endDate}}</td>
        <td>{{contract.deposit}}</td>
        <td>{{contract.totalMoney}}</td>

        <td class="align-middle">
          <button type="button" class="btn btn-danger"
                  data-toggle="modal" data-target="#exampleModal">
            Delete
          </button>
        </td>

        <td>
          <button type="button" class="btn btn-success"
                  data-toggle="modal" data-target="#exampleModal">
            Edit
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

