<div class="container-fluid mt-3">
  <h1 class="text-center">Customer List</h1>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand btn btn-primary mb-2 text-white" [routerLink]="'/customer-create'" role="button"> + Create
            Customer</a>
        </div>

        <div class="col-sm-3">
          <input [(ngModel)]="search" class="form-control" type="search" placeholder="Search"
                 aria-label="Search" name="employee">
        </div>

      </div>
    </div>
  </nav>

  <div class="container-fluid ">
    <table id="tableCustomer" class="table table-bordered table-striped table-responsive mw-100">
      <thead>
      <tr>
        <th class="align-middle">No</th>
        <th class="align-middle">Id</th>
        <th class="align-middle">Code</th>
        <th class="align-middle">Name</th>
        <th class="align-middle">Birthday</th>
        <th class="align-middle">gender</th>
        <th class="align-middle">Id Card</th>
        <th class="align-middle">Phone</th>
        <th class="align-middle">Email</th>
        <th class="align-middle">Address</th>
        <th class="align-middle">Type</th>
        <th class="align-middle text-center">Delete</th>
        <th class="align-middle text-center">Edit</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers | filter: search | paginate: {itemsPerPage: 3, currentPage: page }; index as i">
          <td>{{i + 1}}</td>
          <td>{{customer.id}}</td>
          <td>{{customer.code}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.birthday}}</td>
          <td [ngSwitch]="customer.gender">
            <span *ngSwitchCase="0">Female</span>
            <span *ngSwitchCase="1">Male</span>
            <span *ngSwitchDefault>LGBT</span>
          </td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.customerType.name}}</td>

          <td class="align-middle">
            <button type="button" class="btn btn-danger"
                    (click)="openDialog(customer.id)">
              Delete
            </button>
          </td>

          <td>
            <button type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#exampleModal"
            [routerLink]="['/customer-edit', customer.id]">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

